body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #3a1a1a;
    border: 1px solid #25527e;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-control {
    border: 1px solid #ced4da;
    background-color: #ffffff;
    color: #495057;
}






